body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  color: var(--on-background)
  /* background-color: var(--background); */
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*--- Colors ---*/

:root {
  /* Gray */
  --gray-light: #d0d0d0;
  --gray-medium: #b9b9b9;
  --gray-dark: #949494;
  --gray-darker: #717171;

  /* Warn */
  --warn-medium: #d60202;

  /*
    Vars created by JS:

      --background
      --primary
      --secondary
      --on-background
  */


  /* --color-background: green; */
  /* --background: green; */
}

/* Resets */

.list-reset {
  list-style-type: none;
  /* padding-left: 0px; */
  margin: 0px;
  padding: 0px
}

.a-reset {
  color: black;
  text-decoration: none;
}

.button-reset {
  border: none;
  background: none;
  padding: 0px;
  display: flex;
  user-select: none;
}

/* Font size */

.text-xs {
  font-size: max(0.8rem, 12px);
  /* font-size: 12px */
}

.text-s {
  font-size: max(0.9rem, 14px);
  /* font-size: 14px; */
}

.text-base {
  font-size: 1rem;
  /* font-size: 16px; */
}

.text-lg {
  font-size: 1.2rem;
  /* font-size: 24px; */
}

/*--- Font weight ---*/

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/*--- Font color ---*/

/* White */

.active\:text-white:active {
  color: #ffffff
}

/* Gray */

.text-gray-medium {
  color: var(--gray-medium);
}

.text-gray-dark {
  color: var(--gray-dark);
}

.text-gray-darker {
  color: var(--gray-darker);
}

/* Warn */

.text-warn-medium {
  color: var(--warn-medium)
}

/* Background */

.bg-gray-light {
  background-color: var(--gray-light);
}

.bg-gray-medium {
  background-color: var(--gray-medium);
}

.bg-gray-dark {
  background-color: var(--gray-dark);
}

.bg-gray-darker {
  background-color: var(--gray-darker);
}

.active\:bg-warn-medium:active {
  background-color: var(--warn-medium);
}

/* General */

.flex {
  display: flex;
}

.border-box {
  box-sizing: border-box;
}

/* Margin */

.m-none {
  margin: 0px;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

/* Padding */

.p-xxs,
.p-xs,
.p-s,
.p-m,
.p-l,
.p-y-xs,
.p-y-s {
  box-sizing: border-box;
}

.p-xxs {
  padding: 4px;
}

.p-xs {
  padding: 8px;
}

.p-s {
  padding: 16px;
}

.p-m {
  padding: 32px;
}

.p-l {
  padding: 64px;
}


.p-y-xs {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-y-s {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-l-xs {
  padding-left: 8px;
}

.p-l-s {
  padding-left: 16px;
}

/* Width */

.min-w-xs {
  min-width: 16px;
}

.min-w-s {
  min-width: 32px;
}

.min-w-m {
  min-width: 64px;
}

.max-w-full {
  max-width: 100%;
}

.max-w-s {
  max-width: 32px;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

.w-auto {
  width: auto;
}

.w-xxs {
  width: 8px;
}

.w-xxs-1\/2 {
  width: 12px;
}

.w-xs {
  width: 16px;
}

.w-xs-1\/2 {
  width: 24px;
}

.w-s {
   width: 32px;
}

/* Height */

.h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.h-fit {
  height: fit-content;
}

.h-xxs {
  height: 8px;
}

.h-xxs-1\/2 {
  height: 12px;
}

.h-xs {
  height: 16px;
}

.h-xs-1\/2 {
  height: 24px;
}

.h-s {
  height: 32px;
}



/* Alignment */

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/* Border */

.border-gray-medium {
  border: 1px solid var(--gray-medium)
}

.border-bottom-gray-dark {
  border-bottom: 1px solid var(--gray-dark);
}

/* Outline */

.focus\:border-black:focus {
  outline: none;
  border: 1px solid black;
  /* border: 1px solid transparent; */
}

/* Divide */

.divide-gray-dark > *:not(:last-child) {
  border-bottom: 1px solid var(--gray-medium);
}

.divide-last-gray-dark > * {
  border-bottom: 1px solid var(--gray-medium);
}

/* Flex */

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Flex direction */

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* Gap */

.gap-xs {
  gap: 4px;
}

.gap-s {
  gap: 8px;
}

.gap-m {
  gap: 16px;
}

.gap-x-xs {
  column-gap: 4px;
}

/* Position */

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/*--- Buttons ---*/

.button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.button-outline {
  background: transparent;
  border-width: 1;
  border-style: solid;
}

.button-outline-warn-medium {
  background-color: transparent;
  border: 1px solid var(--warn-medium);
}

/* Transition */

.transition-all-xs-ease-out {
  transition: all 0.08s ease-out;
}

/* Misc */

.user-select-none {
  user-select: none;
}

.round {
  border-radius: 100px;
}

/* Custom */

.icon-button-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border-radius: 100px;
  background: gray;
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.icon-button:hover .icon-button-circle {
  opacity: 0.2;
}

.icon-button:active .icon-button-circle {
  opacity: 0.5;
}



/* Different approach (semantic styling instead of util-based styling) */

/*.color-picker {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0px;
  border-radius: 500px;
  height: 32px;
  width: 32px;
}

.color-picker::-webkit-color-swatch-wrapper {
  height: 32px;
  width: 32px;
  padding: 0px;
  margin: 0px;

}

.color-picker::-webkit-color-swatch {
  border-radius: 500px;
  border: none;
} */

.input-base-color-picker {
  position: relative;
}

.color-picker {
  display: flex;
  position: absolute;
  top: 28px;
  right: 0px;
  border: 1px solid var(--gray-medium);
  border-radius: 8px;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  gap: 8px;
  padding: 8px;
  background-color: white;
}

.swatch {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border: none;
}

.cover {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.step-selector {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;
}

.column-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  background-color: var(--secondary);
}

.primary-button {
  color: var(--on-primary)
}

/* .page {
 
} */

.page-content {
  background-color: var(--background);
}

/* Typography */

.extra-text {
  font-size: 0.8rem;
  color: var(--on-background-dark)
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--on-background)
}

.icon-secondary {
  color: var(--on-background-dark)
}